.deviceHeaderBg {
  width: 100%;
  height: 4rem;
  background-color: #e1a043;
  display: inline-block;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}

.wathchDiv {
  width: 3.4rem;
  height: 3.2rem;
  float: left;
  background-color: #7dc78d;
}

.watchImg {
  width: 0.72rem;
  height: 1rem;
  margin: 1.1rem auto;
  margin-left: 1.6rem;
}

.ringAndStatusDiv {
  width: 3rem;
  height: 3.2rem;
  float: left;
  background-color: #7dc78d;
}

.ringDiv {
  height: 0.6rem;
  margin-top: 1.2rem;
  color: white;
  font-size: 0.34rem;
  font-weight: 100;
}

.statusDiv {
  height: 0.6rem;
  font-size: 0.26rem;
  color: white;
  font-weight: 100;
}

.ringItemDiv {
  width: 100%;
  height: 1.3rem;
  line-height: 1.3rem;
}

.ringItemImg {
  width: 0.28rem;
  height: 0.6rem;
  margin-left: 0.6rem;
}

.ringItemNum {
  margin-left: 0.3rem;
  font-size: 0.28rem;
  color: #717171;
}

.listView {
  width: 100%;
  margin-bottom: 1.28rem;
  float: left;
  overflow: visible !important;
}

.seperator {
  background-color: #F5F5F9;
  height: 1;
  border-top: 1px solid #ECECED;
  border-bottom: 1px solid #ECECED;
}
