.planTitleDiv {
  background-color: white;
  margin-top: 0.2rem;
  height: 0.7rem;
  line-height: 0.7rem;
}

.recomendPlanTitle, .recommend{
  height: 0.9rem;
  line-height: 0.9rem;
  color: #4fb26b;
  margin-left: 0.4rem;
}
.planTitle, .recommend {
  color: #5cbc7d;
}
.planStyle{
  line-height: 0.3rem;
  color: #666666;
  font-size: 0.22rem;
}
.planBtn, .planBtnDisabled{
  float: right;
  margin-right: 0.1rem;
  width: 1.6rem;
  height: 0.36rem;
  border: none;
  color: #2bac1e;
  background: #f8fefa;
  border: 0.02rem solid #2bac1e;
  border-radius: 0.04rem;
  font-size: 0.22rem;
}
.planBtnDisabled{
  color: #9d9d9d;
  border: 1px solid #9d9d9d;
}
.Conduct{
  float: left;
  width: 25%;
  color: #666;
  font-size: 0.22rem;
  text-align: center;
  line-height: 0.9rem;
  margin-top: 0.06rem;
}
.recommend{
  margin-left: 0.1rem;
}
.myPlanTitle {
  color: #5dbc7e;
  margin-left: 0.1rem;
  font-size: 0.28rem;
  vertical-align: middle;
}

.planNameDiv {
  height: 0.5rem;
  line-height: 0.5rem;
}

.planTypeDiv {
  height: 0.3rem;
  line-height: 0.3rem;
  color: #666666;
}

.planName {
  display: inline-block;
  width: 72%;
  height: 0.5rem;
  font-size: 0.28rem;
}

.planStatus {
  display: inline-block;
  width: 25%;
  height: 0.5rem;
  font-size: 0.22rem;
  color: #666666;
  text-align: center;
}

.planType {
  display: inline-block;
  width: 72%;
  height: 0.3rem;
  font-size: 0.22rem;
}

.planPercent {
  display: inline-block;
  width: 25%;
  height: 0.4rem;
  font-size: 0.22rem;
  text-align: center;
}

.stageItem {
  width: 90%;
  margin-left: 0.3rem;
  margin-top: 0.22rem;
  color: #8a898e;
}

.stageItemDot {
  width: 0.22rem;
  height: 0.22rem;
  margin-left: 0.6rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #ee6f50;
  vertical-align: text-top;
}
.stageItemList{
  margin: 0.12rem 0;
}
.stageItemDate {
  width: 28%;
  margin-left: 1.12rem;
  display: inline-block;
}

.stageItemType {
  width: 25%;
  display: inline-block;
}

.stageItemStatus {
  width: 29%;
  display: inline-block;
  text-align: center;
}
