.mine-item{
  background-color: #fff;
  color: #000;
  text-align: left;
  height: 0.6rem;
  line-height: 0.6rem;
  width: 100%;
  border-bottom: 1px solid #999;
  font-size: 18px;
  position: relative;
}
.mine-setting-icon{width: 0.5rem; height: 0.5rem; display: inline-block; padding: 10px;}
.rightarrow-icon{
  height: 0.5rem;
  /* width: 0.4rem;*/
  padding: 10px;
}
.rightarrow-icon-position{
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
}
.left-icon-position{
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
}
.am-flexbox.margin-right-nones .am-flexbox-item{
  margin-left: 0;
}
.newIcon{
  width: 50px;
  height: 30px;
  line-height: 30px;
  background-color: red;
  display: inline-block;
  border-radius: 8px;
  text-align: center;
}
.am-image-picker.ImagePicker{
  display: inline-block;
}
.am-image-picker.ImagePicker .am-image-picker-list{
  margin-bottom: 0;
}
.am-image-picker.ImagePicker .am-flexbox.am-flexbox-align-middle{
  display: inline-block;
  position: relative;
  border: 4px solid rgba(109,201,155,0.5);
  border-radius: 50%;
  padding: 5px;
}
.am-image-picker.ImagePicker .am-image-picker-list .am-image-picker-item .am-image-picker-item-content{
  border-radius: 50%;
}
.am-image-picker.ImagePicker .am-image-picker-list .am-image-picker-item{
  width: 80px !important;
  height: 80px !important;
  border-radius: 50%;
  border: 6px solid #6dc99b;
  margin: 0;
}
.inner-circle, .outer-circle{
  display: inline-block;
}
.border-radius50{
  border-radius: 50%;
}
.outer-circle {
  padding: 0.1rem;
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid rgba(109,201,155,0.5);
}
.inner-circle{
  border: 0.1rem solid #6dc99b;
}
.am-image-picker.ImagePicker .am-image-picker-list .am-image-picker-upload-btn{
  position: absolute;
  top: 0;
  border: none;
  background-color: inherit;
}
.am-image-picker.ImagePicker .am-image-picker-list .am-image-picker-item .am-image-picker-item-remove{
  width: 0;
  height: 0;
}
.am-image-picker.ImagePicker .am-image-picker-list .am-image-picker-upload-btn:before,
.am-image-picker.ImagePicker .am-image-picker-list .am-image-picker-upload-btn:after{
  background-color: inherit;
}
.position-relative{position: relative;}
.wh100{width: 100%;height: 100%;}
.w100{width: 100%;}
.h100{height: 100%;}
.w15{width: 15%;}
.w50{width: 50%;}
.w-auto{width: auto;}
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
}
.position-top-left{
  position: absolute;
  top: 0;
  left: 0;
}
.position-bottom-right{
  position: absolute;
  bottom: 0;
  right: 0;
}
.cl-white{color: white;}
.cl-20df6a{color: #20df6a;}
.font-size18{font-size: 18px;}
.font-size20{font-size: 20px;}
.font-size24{font-size: 24px;}
.display-inline-block{display: inline-block !important;}
.display-block{display: block;}
.text-center{text-align: center;}
.padding-tb2-lr20{padding: 2px 20px;}
.padding-tb10{padding: 10px 0;}
.padding20{padding: 20px;}
.padding-bottom10{padding-bottom: 10px;}
.padding-left-06rem{padding-left: 0.6rem}
.b0003{background-color: rgba(0, 0, 0, 0.3);}
.b0db3e9{background-color: #0db3e9;}
.bff9500{background-color: #ff9500;}
.bfff{background-color: #fff}
.bg-color-ccc{background-color: #d9d9d9;}
.bg-cl-d9d9d9{background-color: #d9d9d9;}