html,body{
  height: 100%;
  background: #f2f2f2;
}
.contact_Body{
  background: url(../../img/logo@2x.png) no-repeat center;
  background-size: contain;
}
.tel{
  height: 0.9rem;
  line-height: 0.9rem;
  background: #fff;
}
.name{
  float: left;
  margin: 0;
  margin-left: 0.3rem;
  font-size: 0.28rem;
  color: #666;
}
.num{
  float: right;
  margin: 0;
  margin-right: 0.3rem;
  color: #00cc66;
}
.contact_footer{
  width: 100%;
  font-size: 0.24rem;
  text-align: center;
  height: 1.1rem;
  padding-top: 0.5rem;
}
