.info{
  padding: 0.3rem 0.42rem;
  background-color: #fff;
  font-size: 0.22rem;
}

.info .infoName{
  float: left;
  width: 21%;
  font-size: 0.3rem;
  color: #333333;
}

.info .infoDetails{
  float: left;
  width: 79%;
  font-size: 0.22rem;
  color: #e7e7e7;
  margin-top: 3px;
}

.info .infoDetails span{
  display: inline-block;
  margin: 0 0.18rem 0.3rem;
  color: #363636;
}

.report{
  background-color: #fff;
  border: 1px solid #d1d1d3;
  border-top: none;
  margin-bottom: 0.25rem;
}

.report .reportNameLeft{
  float: left;
  font-size: 0.36rem;
}

.reporData{
  margin: 0;
  padding: 0;
  border-top: 1px solid #e7e7e7;
  margin-top: 0.1rem;
  color: #666;
  font-size: 0.3rem;
}
.reporData li{
  list-style-type: none;
  padding: 0.2rem 0.3rem 0.2rem 0;
  border-bottom: 1px solid #e7e7e7;
  margin-left: 0.9rem;
}
.reporData .listLeft{
  float: left;
  margin-left: -0.5rem;
}
.reporData .listLeft img{
  width: 0.25rem;
  height: 0.25rem;
}
.reporData .listRight{
  float: left;
}
.reporData .record{
  color: #2bac1e;
  margin-top: 0.2rem;
}
.reporData li:last-child{
  border-bottom: none;
}

.fieldL, .fieldR{
  float: left;
  width: 50%;
  padding: 0.1rem 10%;
  word-wrap: break-word;
  text-align: center;
}
.fieldR{
  color: #2bac1e;
  font-size: 0.32rem;
}
