.am-list-item.am-input-item{
  padding: 25px;
  height: 90px;
  font-size: 30px;
}
.btn-container .btn {
  margin: 25px 0;
}
.am-button-primary{
  background-color: #00cc66;
  border: 1PX solid #00cc66;
  margin: 25px;
}
.am-navbar-left-icon{
  color: #00cc66;
}
.am-list-item .am-input-control input,.am-list-item .am-input-label{
  font-size: 30px;
}
.am-navbar-left{
  padding-left: 10px;
}
.am-navbar-left-icon{
  color: #00cc66;
}
.am-list-item.am-input-item{
  padding: 25px;
  height: 90px;
  font-size: 30px;
}
.btn-container .btn {
  margin: 25px 0;
}
.am-button-primary{
  background-color: #00cc66;
  border: 1PX solid #00cc66;
  margin: 25px;
  font-size: 30px;
}
.am-navbar-left-icon{
  color: #00cc66;
}
.am-list-item .am-input-control input,.am-list-item .am-input-label{
  font-size: 30px;
}
.am-navbar-left{
  padding-left: 10px;
}
