html,body{
  height: 100%;
  background: #f2f2f2;
}
.btn-container .btn {
  margin: 0.25rem 0;
}
.am-button-primary{
  background-color: #00cc66;
  border: 1PX solid #00cc66;
  margin: 0.25rem;
}
.am-navbar-left-icon{
  color: #00cc66;
}
.am-list-item .am-input-control input,.am-list-item .am-input-label{
  font-size: 0.3rem;
  line-height: 0.9rem;
}
.am-list-item .am-input-label.am-input-label-5{
  width: 1.5rem;
}
.am-navbar-left{
  padding-left: 0.1rem;
}
.am-navbar-left-icon{
  color: #00cc66;
}
.am-list-item.am-input-item{
  height: 0.9rem;
  font-size: 0.3rem;
  padding: 0 0.3rem;
}
.btn-container .btn {
  margin: 0.25rem 0;
}
.am-button-primary{
  background-color: #00cc66;
  border: 1PX solid #00cc66;
  margin: 0.25rem;
  font-size: 0.3rem;
}
.am-navbar-left-icon{
  color: #00cc66;
}
.am-list-item .am-input-control input,.am-list-item .am-input-label{
  font-size: 0.3rem;
}
.am-list-item{
  min-height: 0.9rem;
}
.am-navbar-left{
  padding-left: 0.1rem;
}
.myCode .am-input-extra{
  -webkit-box-flex: initial;
  -ms-flex: initial;
  flex: initial;
  min-width: 0;
  max-height: 0.42rem;
  overflow: hidden;
  padding-right: 0;
  line-height: 1;
  color: rgb(32, 203, 106);
  font-size: 0.3rem;
  margin-left: 0.1rem;
}
.am-modal-footer{
  background: #00cc66;
}
.am-modal-button-group-v .am-modal-button{
  color: #fff;
}
.am-modal-header{
  padding: 0.12rem 0.3rem 0.3rem;
}
.am-modal-title{
  font-size: 0.36rem;
}
.am-modal-body{
  font-size: 0.28rem;
}
.am-modal-button-group-v .am-modal-button{
  font-size: 0.32rem;
  height: 1rem;
  line-height: 1rem;
}
.am-modal.am-modal-transparent .am-modal-content .am-modal-body{
  padding: 0 0.30rem 0.30rem;
}
.am-modal-content{
  padding-top: 0.3rem;
}
.am-toast-notice-content .am-toast-text.am-toast-text-icon{
  border-radius: 0.14rem;
  padding: 0.30rem 0.30rem;
}
.am-icon-lg{
  width: 0.72rem;
  height: 0.72rem;
}
.am-toast-notice-content .am-toast-text.am-toast-text-icon .am-toast-text-info{
  margin-top: 0.12rem;
  font-size: 0.26rem;
}
.am-list-item.am-input-item:after{
  left: 0.3rem;
}
.am-list-item .am-input-control{
  font-size: 0.34rem;
}